div.d3-tip, #generic_tooltip {
font-family: Arial,Helvetica,sans-serif;
font-size: 16px;
line-height: 20px;
padding: 8px;
display: inline-block;
max-width: 300px;
z-index: 11000;
position: absolute;
color: #5a5a5a;
background-color: #FFF;
border: 1px solid #000;
word-wrap: break-word;
opacity: 100;
}

*.x_axis path,
*.x_axis line,
*.y_axis path,
*.y_axis line
{
    fill:none; 
    stroke:black;
    stroke-width:1px;
}

g.x_axis g.tick line {
    opacity: 0;
}
